<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <title>Video Filtering Annotation Tool</title>
</head>

<style>
.active {
  stroke: #000;
  stroke-width: 2px;
}

body {
background-color:  #CCCCCC;
  background-color: #373E4B;

}

.btn-new {
      background-color: #2C303C;
      color: #80A46A;
}
.btn-new:hover{
  background-color: #3F4554;
  color: #E88082;
  /*color: #477299;*/
}
.btn-new:active{
  background-color: #2C303C;
  color: #80A46A;
}
.btn-new:focus{
  background-color: #2C303C;
  color: #80A46A;
}
.w3-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class = "container-fluid text-center" style="margin-top:50px">
    <h1 align="left" style="margin-left:20px;color:#98B1C4;">Video Filtering Annotation Tool</h1>

    <span style="color:#6691b8;font-size:13pt;margin-right:10px;">Videos per page: </span>
    <select id="numVideos" class="selectpicker" data-style="btn-new" data-width="fit">
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='5' selected>5</option>
        <option value='10'>10</option>
        <option value='15'>15</option>
        <option value='20'>20</option>
        <option value='25'>25</option>
        <option value='30'>30</option>
        <option value='45'>45</option>
        <option value='50'>50</option>
    </select>
    <span style="color:#6691b8;font-size:13pt;margin-left:30px;margin-right:10px;">Select image: </span>
    <input type="text" id="myVideoIndex" value="0" size="5" style="margin-left:20px;margin-right:20px;text-align:center;">
    <div class="btn-group">
        <button type="button" id="prevBtn" class="btn btn-md btn-default" style = "width: 120px; height:40px">Prev</button>
        <button type="button" id="nextBtn" class="btn btn-md btn-default" style = "width: 120px; height:40px">Next</button>
    </div>

    <span style="color:#6691b8;font-size:13pt;margin-left:20px;margin-right:20px;">Load file: </span>
    <select id="loadFile" class="selectpicker" data-style="btn-new" data-width="fit">
      <optgroup label="Powerlifting">
        <option value='squat' style="color:#0091d5;">Squat</option>
        <option value='benchpress' style="color:#6ab187;">Bench</option>
        <option value='deadlift' style="color:#ea6a47;">Deadlift</option>
      </optgroup>
      <optgroup label="Weightlifting">
        <option value='cleanandjerk' style="color:#C889DB;">Clean and jerk</option>
        <option value='snatch' style="color:#FDC02F;">Snatch</option>
      </optgroup>
      <optgroup label="VLOG">
        <option value='ASampleAll_aj' style="color:#0091d5;">Angjoo</option>
        <option value='ASampleAll_jz' style="color:#0091d5;">Jason</option>
        <option value='ASampleAll_pf' style="color:#0091d5;">Panna</option>
      </optgroup>
      <optgroup label="Instagram">
        <option value='bwex_00000_05000' style="color:#0091d5;">Angjoo 1</option>
        <option value='bwex_05000_10000' style="color:#0091d5;">Angjoo 2</option>
        <option value='bwex_10000_15000' style="color:#0091d5;">Jason 1</option>
        <option value='bwex_15000_20000' style="color:#0091d5;">Jason 2</option>
        <option value='bwex_20000_25000' style="color:#0091d5;">Panna 1</option>
        <option value='bwex_25000_30000' style="color:#0091d5;">Panna 2</option>
        <option value='bwex_30000_35217' style="color:#0091d5;">Group test</option>
      </optgroup>
    </select>

    <!--<span style="color:#6691b8;font-size:13pt;margin-left:20px;margin-right:20px;">Batch tag: </span>
    <select id="batchTag" class="selectpicker" data-style="btn-new" data-width="fit">
      <optgroup label="Powerlifting">
        <option value='squat' style="color:#0091d5;">Squat</option>
        <option value='bench' style="color:#6ab187;">Bench</option>
        <option value='deadlift' style="color:#ea6a47;">Deadlift</option>
      </optgroup>
      <optgroup label="Weightlifting">
        <option value='cleanandjerk' style="color:#C889DB;">Clean and jerk</option>
        <option value='snatch' style="color:#FDC02F;">Snatch</option>
      </optgroup>
      <optgroup label="Other">
        <option value='accessory' style="color:#e0e0e0;">Accessory</option>
        <option value='multilift' style="color:#1b1e26;">Multi Lift</option>
        <option value='none' selected>None</option>
      </optgroup>
    </select>-->

    <span style="color:#6691b8;font-size:13pt;margin-left:20px;margin-right:20px;">Granularity: </span>
    <select id="granularity" class="selectpicker" data-style="btn-new" data-width="fit">
      <option value='micro' style="color:#0091d5;">micro</option>
      <option value='macro' style="color:#6ab187;">macro</option>
    </select>

    <span style = "margin-left:30px;color:#6691b8;font-size:13pt;">Potentially useful:</span>
    <div class="btn-group" style = "margin-left:30px">
        <button type="button" id="submitBtn" class="btn btn-md btn-success" style = "width: 120px; height:40px">Submit</button>
    </div>
    <br><br>
    <div id='videos' style='overflow:hidden;'><font color="#e0e0e0" size="20">Click the dropdown above to load a tag..</font></div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/script_granular.js') }}?v=137"></script>

</html>
